.logoAboutUs img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    margin-top:10px;
    height:5%;
}
.Aboutus-content{
    margin-top:100px;
}
.Aboutus-content h1{
color:white;
    text-align: center;
}
.Aboutus-content hr{
    
        width:50%;
        background-color: white;
}
.Aboutus-content p{
    color: white;
    margin-top:55px;
    text-align: center;
    font-style: italic;
}
@media only screen and (min-width: 320px) and (max-width: 479px){ 
    .logoAboutUs img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        margin-top:10px;
    }
    .Aboutus-content h1{
        color:white;
        font-size:2rem;
            text-align: center;
        }
    .Aboutus-content{
        margin-top:60px;
    }
    .Aboutus-content p{
        margin-top:30px;
        text-align: center;
        font-style: italic;
        font-size:1.3rem;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
    .logoAboutUs img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        margin-top:10px;
    }
    .Aboutus-content{
        margin-top:100px;
    }
    .Aboutus-content h1{
    font-size:4rem;
        text-align: center;
    }
    .Aboutus-content hr{
        width:50%;
    }
    .Aboutus-content p{
        font-size:4rem;
        margin-top:55px;
      
    }
  
}
@media only screen and (min-width: 768px) and (max-width: 991px){ 
    .logoAboutUs img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        margin-top:10px;
       
       }
       .Aboutus-content{
           margin-top:100px;
       }
       .Aboutus-content h1{
       font-size:3rem;
           text-align: center;
       }
       .Aboutus-content hr{
           width:50%;
       }
       .Aboutus-content p{
           font-size:2.5rem;
           margin-top:55px;
           text-align: center;
           font-style: italic;
       }
}
@media only screen and (min-width: 992px) and (max-width: 1024px){ 
    .logoAboutUs img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 30%;
        margin-top:25px;
        height: 5%;
       
       }
       .Aboutus-content{
           margin-top:100px;
       }
       .Aboutus-content h1{
       font-size:3rem;
           text-align: center;
       }
       .Aboutus-content hr{
           width:50%;
       }
       .Aboutus-content p{
           font-size:2.5rem;
           margin-top:55px;
           text-align: center;
           font-style: italic;
       }

}