.logoAboutUs img{
  
    padding: 0;
    width:100px;
    height:200px;
    display: block;
    margin: 0 auto;
    padding-top:1rem;
}
.Aboutus-content{
    margin-top:60px;
}
.Aboutus-content h1{
    color:white;
    font-size:1.6rem;
    text-align: center;
    margin:2rem;
    
}
.Aboutus-content hr{
    
    display: block;
    margin:0 auto;
    width:50%;
    background-color:lightgray;
    height: 1px;
    border: none;
 




}
.Aboutus-content p{
    font-style: italic;
    text-align: center;
    font-weight: normal;
    margin:35px 10px 10px 10px;
    font-size:1.2rem;
    color: white;
    

}
@media  screen and (min-width: 800px){
 

.Aboutus-content hr{
    margin-left:20rem;
    width:25%;
}
.Aboutus-content p{
font-size: 1.5rem;
}
}

@media screen and (min-width:900px){

.Aboutus-content hr{
    margin-left:22rem;
    width:25%;
}


}
@media screen and (min-width:1024px){
    .Aboutus-content hr{
        margin-left:32rem;
    
    }

}