.contact-content{
    margin-top:10%;

}

.form-contentnew{

    margin-top:25%;
    width:60%;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    margin-left:5em;
        color: white;
}
.contact-content h1{
    color:white;
        
        text-align: center;
        font-size: 1.6rem;
        margin:2rem;
}

 .contact-content hr{
     display: block;
margin:0 auto;
    width:50%;
    background-color: lightgray;
    height: 1px;
    border: none;
} 
.form-contentnew button{
    margin-left:4em;
    margin-bottom: 3rem;
}
.textarea{
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    border-radius: 5px;
    width:100%;


}
@media  screen and (min-width: 800px){
.contact-content hr{
    margin-left:20rem;
    width:25%;
}
.form-contentnew{

    margin-top:5%;
    width:60%;
    font-family: 'Oswald', sans-serif;
    font-style: italic;
    margin-left:10rem;
        color: white;
}
.form-contentnew button{
    margin-left:14rem;
}

}

@media screen and (min-width:900px){
    .contact-content hr{
        margin-left:22rem;
        width:25%;
    }
}
@media screen and (min-width:1024px){
    .contact-content hr{
        margin-left:32rem;
        width:25%;
    }
    .form-contentnew{
        margin-left:20rem;
    }
.form-contentnew button{
    margin-left:22rem;
}

}
