.contact-content{
    margin-top:100px;

}

.form-contentnew{
    color:white;
    margin-top:100px;
    width:50%;
    margin-left:350px;
}
.contact-content h1{
    margin-top:100px;
    text-align: center;
    color:white;
}
.contact-content hr{
    width:50%;
    background-color: white;
}
.form-contentnew button{
    margin-left:300px;
}
.textarea{
    width:670px;
}
@media only screen and (min-width: 320px) and (max-width: 479px){ 
    .contact-content{
        margin-top:50px;
    }
    .contact-content h1{
        color:white;
        margin-top:10px;
        text-align: center;
        font-size: 2rem;
    }
    .form-contentnew{
        margin-top:100px;
        width:50%;
        margin-left:70px;
        color: white;
    }
    
    
    .form-contentnew button{
        margin-left:20px;
    }
    .textarea{
        width:209px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px){ 
    .contact-content h1{
        margin-top:100px;
        text-align: center;
        font-size: 4rem;
    }
    
    .form-contentnew{
        margin-top:100px;
        width:50%;
        margin-left:60px;
        font-size: 3rem;
    }
    .form-contentnew button{
        margin-left:20px;
        font-size: 3rem;
    }
    .textarea{
        width:359px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){ 
    .contact-content h1{
        margin-top:100px;
        text-align: center;
        font-size: 3rem;
        color: white;
    }
    
    .form-contentnew{
        margin-top:100px;
        width:50%;
        margin-left:60px;
        font-size: 2.5rem;
        color: white;
    }
    .form-contentnew button{
        margin-left:20px;
        font-size: 2rem;
    }
    .form-contentnew input{
        height:80px;
        width:600px;
    }
    .textarea{
        width:600px;
        height:100px;
    }
}
@media only screen and (min-width: 992px) and (max-width: 1024px){ 

    .contact-content h1{
        margin-top:100px;
        text-align: center;
        font-size: 3rem;
        color: white;
    }
    
    .form-contentnew{
        margin-top:100px;
        width:50%;
        margin-left:60px;
        font-size: 2.5rem;
        color: white;
    }
    .form-contentnew button{
        margin-left:20px;
        font-size: 2rem;
    }
    .form-contentnew input{
        height:80px;
        width:600px;
    }
    .textarea{
        width:600px;
        height:100px;
    }

}