

 .Header{
     margin-top:0;
    background-image: url(./Images/cover.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position:center ;
    height:280px;
}


.logo img{
    padding: 0;
    width:100px;
    height:200px;
    display: block;
    margin: 0 auto;
    padding-top:7rem;
    
}

.Header h5{
    text-align: center;
    color:white;
    font-style: italic;
letter-spacing: 2px;
padding-bottom:1rem;
font-size: .9rem;
}

@media screen and (min-width:800px){

    .Header{
        height:450px;
    }
    .Header h5{
        text-align: center;
        font-size: 1.4rem;
    }
    .logo img{
        width:200px;
        height:300px;
        display: block;
        margin: 0 auto;
        padding-top:7rem;
        
    }

}
@media screen and (min-width:900px){

}