html {
    overflow-x: initial !important;
  }


.Navigation {

    text-align: center;
    background-color: #A0B550 ;
    position: fixed;
        width:100%;
        z-index:999;
       
    }
    h3{
        font-weight: bold;
        margin-top:.2em;
        font-size:2rem;
        margin-left:2em;
        float: left;
       left:0;
        font-family: 'Great Vibes', cursive;
        color:#333;
    }
    .nav{
        position: absolute;
        text-align: left;
        top:100%;
        right:0;
        transform: scale(1,0);
        transform-origin: top;
        transition: transform 400ms ease-in-out;
    }
    .Menu-container{
        margin:0;
        padding:0;
        list-style:none;
    }
    .Menu-container li{
        margin-bottom: 1em;
        margin-right:1em;
        margin-top:1em;
        padding:1em;
    }
    .Menu-container a{
        color: #333;
        font-weight: bold;
        text-decoration: none;
        text-transform: uppercase;
        font-size: .8rem;
        opacity: 0;
    }
    .Menu-container li:hover{
        -webkit-transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        transform: rotateZ(-30deg);
    }
    .nav{
        background-color:#A0B550;

    width:50%;
    }
    .nav-toggle{
        display: none;
    }
    .nav-toggle:checked ~ nav{
        transform: scale(1,1);
    }
    .nav-toggle:checked ~ nav a{
        opacity: 1;
    }
    .nav-toggle-label{
        position: absolute;
        top:0;
        right:0;
        margin-right:2em;
        height: 100%;
        display: flex;
        align-items: center;
    }
    
    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span:after{
        display: block;
        width:1em;
         height:2px;
         background-color:#333;
         position: relative;
    }
    .nav-toggle-label span::before,
    .nav-toggle-label span:after{
        content: '';
        position: absolute;
    }
    .nav-toggle-label span::before{
        bottom:7px;
    }
    .nav-toggle-label span:after{
        top:7px;
    }


  @media screen and (min-width:800px){

.nav-toggle-label{
    display: none;
}

h3{
    margin-top:.6em;
    font-size: 2.3rem;
}
        .nav{
            all: unset;
        }
.Menu-container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.Menu-container a{
    font-size: 1rem;
    opacity: 1;
}
    }
    
    
    
    
    
    
    
    
























































a,
a span {
  display: inline-block;
}
.Navigation .Menu-container li a span{
    transition: .5s;
}
.Navigation .Menu-container li a:hover span {
    -webkit-transform: rotateX(360deg);
    transform: rotateX(360deg);
  }






